
/*
Palete
#8661C1
#3A0842
#BE97C6
#0D2818
#21FA90

Mellow down the white color
#DCDCDD - Gainsbora white
#C5C3C6 - Silver white
*/

body{
	margin: 0px;
}

body, article, p, ul,footer {
	border: solid black 2px;
	font-family: sans-serif;
	/*background-color: #DCDCDD;*/
}

.nav-bar, .contact, .footer{
	background-color: #3A0842;
	color: #C5C3C6;
}


body {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*Navigation Bar*/
.nav-bar{
	background-color: #3A0842;
	padding: 0.1em;
	border: none;
	width: 100%;

}

.nav-bar ul li{
	display: inline;
	border: none;

}

.nav-bar ul{
	border: none;
	background-color: #3A0842;
	display: flex;
	justify-content: flex-end;

}

a {

	text-decoration: none;
	padding: 0.6em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 0.5em;

}

.nav-bar a:link {
	color: white;
	font-size: 1em;
	font-weight: 600;
}

.nav-bar a:visited {
	color: white;
}

.nav-bar a:focus {

}

.nav-bar a:hover {
	background-color: #8661C1;

}

.nav-bar a:active {

}




/*Home*/
.hero{
	background-image: url("/assets/img/atlas-shrugged.png");
	min-height: 60em;
	width: 100%;
	background-repeat: no-repeat;

}



.hero-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #DCDCDD;


}

h1 {
	font-size: 3em;
	letter-spacing: 0.6em;
}

.hero-text p {
	border: none;
	font-size: 1.5em;
}



/*The button styles*/
.button {

  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: white;
  font-weight: 600;
}

.button:link, .button:visited, .button:focus {
  background: #12804B;
}

.button:hover {
  background: #1BCD77;
}

.button:active {
  background: #8661C1;
  color: white;
}




/*About me section*/
.about {
	min-height: 60em;
	width: 100%;
	background: black;
	color: white;
	text-indent: 1em;

}



.about p,
.about h2 {
	padding: 1em;
	max-width: 80em;
}

.about .button{
	margin-left: 1em;
}

.about {
	display: flex;
}

.about .img {
	margin-top: 10em;
}





/*Skills area*/

.skills {
	min-height: 50em;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
}


.main-skills {
	display: flex;
}

.main-skills p {
	width: 10em;
	height: 20em;
	margin: 2em;
	border: none;
}

.skills p{
	border: none;
}

.skills .button {
	padding-top: 0em;
	padding-bottom: 0em;
}

.skills ul {
	list-style: none;
	border: none;
}

.skills img{
	max-width: 100%;
}





































